@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url('./images/bg-pattern-top.svg') top -60% left 150% no-repeat,
    url('./images/bg-pattern-bottom.svg') bottom -60% right 150% no-repeat;
  background-size: 600px, 600px;
  background-color: var(--dark-cyan);
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  background: url('./images/bg-pattern-card.svg') no-repeat center;
  background-color: #fff;
  background-position: top;
  /* border: 2px solid black; */
  height: 380px;
  width: 100%;
  max-width: 330px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 3px #000;
}

.profile__image {
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 35%;
}

.profile__title {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}

.profile__name {
  margin-right: 1rem;
  font-size: 18px;
}

.profile__location {
  color: var(--dark-gray);
  margin-top: 0;
}

/* Stats */

.stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  border-top: 1px solid lightgrey;
  /* border: 1px solid red; */
}

.stats h2 {
  font-size: 18px;
}

.stats p {
  color: var(--dark-gray);
  font-size: 14px;
  text-align: center;
}

.stats--margin {
  margin: 0 1rem;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
